<div class="row">
  <div class="col-lg-6 col-lg-offset-9">
    <%= form_for :search ,:url=>{:action=>'show'} do |f|%>
    <div class="col-lg-4">
    <%= f.text_field("name",:placeholder=>'Search by Product Name',:class=>'form-control')%>
  </div>
    <div class="col-lg-1 ">
    <%= submit_tag('Search',:class=>'btn btn-primary') %>
    </div>
    <% end %>
  </div>
            <div class="col-lg-6 col-lg-offset-3 col-md-1 col-md-offset-6 col-sm-2 col-sm-offset-6 col-xs-2 col-xs-offset-3">
  
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        
        <th>Main Category</th>
        <th>Product Name</th>
        <th>View</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <% @product.each do |p| %>
      <tr>
        <td><%= p.subcategory.category.maincategory.main_category %></td>
        <td><%= p.product_name %></td>
        <td><%= link_to("",{:controller=>p.typee,:action =>'view',:id => p.id},:class=>'fa fa-book fa-2x')%></td></td>
        <td><%= link_to("",{:controller=>p.typee,:action => 'edit',:id => p.id,:u_id=>p.user_id},:class=>'fa fa-edit fa-2x')%></td></td>     
      </tr>
      <% end %>
      
     <%= paginate @product %>
  <%= page_entries_info @product %>
    </tbody>
  </table>
</div>
</div>