<div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-1 col-md-offset-6 col-sm-2 col-sm-offset-6 col-xs-2 col-xs-offset-3">
  
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        
        <th>Main Category</th>
        <th>Category</th>
        <th>View</th>
        <th>Edit</th>
        
      </tr>
    </thead>
    <tbody>
      <% @category.each do |c| %>
      <tr>
        <td><%= c.maincategory.main_category %></td>
        <td><%= c.category %></td>
        <td><%= link_to("",{:action => 'view',:id => c.id},:class=>'fa fa-book fa-2x')%></td></td>
        <td><%= link_to("",{:action => 'edit',:id => c.id},:class=>'fa fa-edit fa-2x')%></td></td>
        
        
      </tr>
      <% end %>
       <%= paginate @category %>
  <%= page_entries_info @category %>
    </tbody>
  </table>
</div>
</div>