<div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-1 col-md-offset-6 col-sm-2 col-sm-offset-6 col-xs-2 col-xs-offset-3">
  Billing Details
<table class="table table-hover table-bordered">
  <thead>
    <tr>
        <th>Order Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Country</th>
        <th>Zip code</th>
        <th>Address</th>


    </tr>
  </thead>
  <tbody>
        <tr>
        <td>MAorder<%= @billing.ordermaster_id %></td>
          <td><%= @billing.name %></td>
          <td><%= @billing.email %></td>
          <td><%= @billing.contact%></td> 
          <td><%= @billing.country %></td> 
          <td><%=@billing.zip%></td> 
          <td><%=@billing.address%></td> 

        </tr>
    </tbody>
  </table>
  <%= link_to("Back to view",:controller=>"admin",:action=>"vieworder")%>
  
</div>
</div>