<div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-1 col-md-offset-6 col-sm-2 col-sm-offset-6 col-xs-2 col-xs-offset-3">
  
<table class="table table-hover table-bordered">
  <thead>
    <tr>
        <th>Order Id</th>
        <th>User</th>
        <th>Total Product</th>
        <th>Total Cost</th>
        <th>Billing Details</th>
        <th>Shipping Details</th>


    </tr>
  </thead>
  <tbody>
    <% if @order.size > 0%>
      <% @order.each do |o| %>
        <tr>
        <td>MAorder<%= o.id %></td>
        <% @user = User.find(o.user_id) %>
          <td><%= @user.email %></td>
          <td><%= o.total_products %></td>
          <td><%= o.total_cost %></td> 
          <td><%= link_to("Billing Details ",{:controller=>'admin',:action => 'billDetails',:id =>o.id },:class=>'btn btn-success')%>  </td> 
          <td><%= link_to("Shipping Details",{:controller=>'admin',:action => 'shipDetails',:id =>o.id },:class=>'btn btn-success')%>  </td> 
        </tr>
      <% end %>
  <%else%>
  <tr></tr>
  <%end%>
  </tbody>

  <%= paginate @order %>
  <%= page_entries_info @order %>
  </table>
</div>
</div>