<div class="col-xs-12" style="padding:0;"></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding-top:20px;">
<%= image_tag("/uploads/"+@photo.photo1,:size=>'215x215') %>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding-top:20px;">
<%= image_tag("/uploads/"+@photo.photo2,:size=>'215x215') %>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding-top:20px;">
<%= image_tag("/uploads/"+@photo.photo3,:size=>'215x215') %>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding-top:20px;">
<%= image_tag("/uploads/"+@photo.photo4,:size=>'215x215') %>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding-top:20px;">
<%= image_tag("/uploads/"+@photo.photo5,:size=>'215x215') %>
</div>