 <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><%=link_to("Home",:controller=>"public",:action=>"view") %>
                        </li>
                        <li>Shopping cart</li>
                    </ul>
                </div>

                <div class="col-md-9" id="basket">

                    <div class="box">

                        <form method="post" action="checkout1.html">

                            
                            <% if session[:cart_size] == 0 || session[:cart_size] == nil %>
                            <h1 class="text-center">Shopping cart</h1>
                            <div class="col-xs-12 text-center" style="margin-bottom:20px;">
                            <i class="fa fa-4x fa-shopping-bag text-center" aria-hidden="true"></i>
                            </div>
                            <p class="text-muted text-center"  >
                                Currently no item in the cart.
                            </p>   
                            <%else%>
                            <h1>Shopping cart</h1>
                            <p class="text-muted">You currently have <%=session[:cart_size]%> item(s) in your cart.</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Unit price</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <% @total = 0 %>
                                    <% @cart.each do |p| %>
                                        <tr>
                                            <td>
                                                <a href="#">
                                                <% if p.photo %>
                                                    <%  p.photo.each do |f| %>
                                                    <%= image_tag("/uploads/"+ f.photo1) %>
                                                    <%end%>
                                                <%else%>
                                                <%= image_tag("image_soon.gif") %>
                                                <% end %>
                                                </a>
                                            </td>
                                            <td><a href="#"><%= p.product_name %></a>
                                            </td>
                                            
                                            <td>$<%= p.price %></td>
                                            <% @total += p.price.to_i * @qty["#{p.id}"].to_i %>
                                            
                                            <td><%= link_to({:controller =>'public', :action =>'deleteCart',:id=>p.id}, {:class => 'btn btn-small'}) do %>
                                            <i class="fa fa-trash-o"></i> <% end %></td>
                                            
                                            </td>
                                        </tr>
                                       <%end%> 
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="5">Total</th>
                                            <th colspan="2">$<%= @total %></th>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                            <!-- /.table-responsive -->

                            <div class="box-footer">
                                
                                <div class="pull-right">
                                    <% if session[:email] %>
                                     <%= submit_tag("Proceed to checkout",{:class=>"btn btn-primary"}) %>
                                     <%else%>
                                
                                    <%= link_to("Checkout",{:controller=>"public",:action=>"register"},:class=>"btn btn-success btn-block")%>        
                                 <%end%>
                                    </button>
                                </div>
                            </div>
                            <%end%>
                        </form>

                    </div>
                    <!-- /.box -->




                </div>
                <!-- /.col-md-9 -->

                <div class="col-md-3">
                    <div class="box" id="order-summary">
                        <div class="box-header">
                            <h3>Order summary</h3>
                        </div>
                        <p class="text-muted">MaOrder Products </p>

                        <div class="table-responsive">
                            <table class="table">

                                <tbody>
                                    <tr>
                                        <td>Total Products</td>
                                        <th><%=session[:cart_size]%></th>
                                    </tr>
                                    <tr>
                                        <td>Order subtotal</td>
                                        <th><%= @total%></th>
                                    </tr>
                                     
                                    <tr class="total">
                                        <td>Total</td>
                                        <th>$.<%= @total%></th>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.container -->
        </div>