
	 <div class="container top1">
                <div class="row vertical-offset-100">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-default" style="border:0px solid#D3D3D3;box-shadow: 1px 3px 5px #D3D3D3">
                            <div class="panel-heading">                                
                                <div class="row-fluid user-row">
                                    <%=image_tag('logo1.png',:style=>'height:100px; width:100px',:class=>"img-responsive") %>
                                </div>
                                 <h3  class="panel-heading-inner">Reset Your Password</h3>
                            </div>
                            <% if flash %>
                            <% flash.each do |key, value| %>
                            <div class="alert alert-<%= key %>" ><%= value %></div>
                          <% end %><%end%>
                            <div class="panel-body">

                                <%= form_for :resetPassword ,:url =>{:action=>'update_password'},:class=>'form-signin' do |f|%>
                                    <fieldset>
                                        <label class="panel-login">
                                            <div class="login_result"></div>
                                        </label>
                                        <input class="form-control" placeholder="New Password" id="new_password" type="password" name="resetPassword[new_password]">
                                        <input class="form-control" placeholder="Confirm Password" id=" confirm_password" type="password" name="resetPassword[confirm_password]">
                                        <input class="form-control" type="hidden" name="resetPassword[token]" value="<%= @token%>">
                                        <br></br>
                                        <input class="btn btn-lg own_color btn-block" type="submit" id="login" value="Reset »">
                                    </fieldset>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>