<div class="row">
            <div class="col-lg-6 col-lg-offset-1 col-md-1 col-md-offset-6 col-sm-2 col-sm-offset-6 col-xs-2 col-xs-offset-3">
  
  <table class="table table-hover table-bordered">
	<thead>
			<tr>
				<td>Name</td>
				<td>Brand</td>
				<td>Price</td>
				<td>Pixel</td>

				
				
			</tr>
	</thead>
			<tr class="danger">
				<td><%= @camera.product.product_name %></td>
				<td><%= @camera.product.brand %></td>
				<td><%= @camera.product.price %></td>
				<td><%= @camera.price %></td>

				
			</tr>
			<%= button_to('Back to view page', :controller=>'feature',:action=>'show')  %>
			
				

</table>
</div>
</div>