<style type="text/css">
.color{
	width: 55px;
	height: 15px;
	margin: auto auto;
}
</style>
<div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-1 col-md-offset-6 col-sm-2 col-sm-offset-6 col-xs-2 col-xs-offset-3">
  
  <table class="table table-hover table-bordered">
	<thead>
			<tr>
				<td>Product</td>
				<td>Color</td>
				<td>Price</td>
				<td>Brand</td>
				<td>Popularity</td>
			</tr>
	</thead>
			<tr class="danger">
				<td><%= @cosmetic.product.product_name %></td>
				<td><div class="color" style="background:<%= @cosmetic.color %>"></div></td>
				<td><%= @cosmetic.product.price %></td>
				<td><%= @cosmetic.product.brand %></td>
				<td><%= @cosmetic.product.popularity %></td>
			</tr>
			<%= button_to('Back to view page', :controller=>'feature',:action=>'show')  %>
			
				

</table>
</div>
</div>