<div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-1 col-md-offset-6 col-sm-2 col-sm-offset-6 col-xs-2 col-xs-offset-3">
  
  <table class="table table-hover table-bordered">
	<thead>
			<tr>
				<td>Name</td>
				<td><%= @userdetail.name %></td>
			</tr>	
			<tr>
				<td>Contact</td>
				<td><%= @userdetail.number %></td>
			</tr>
			<tr>
				<td>Shop Name</td>
				<td><%= @userdetail.shop_name %></td>
				
			</tr>
			<tr>
				<td>Shop Address</td>
				<td><%= @userdetail.shop_address %></td>
			</tr>	
			<tr>
				<% if @userdetail.profile_pic %>
				<td>Profile Pic</td>
				<td><%= image_tag("/uploads/"+@userdetail.profile_pic,:size=>'50x50') %></td>
				<% end %>
			</tr>
	</thead>

			<%= button_to('Back to view page', :action=>'show')  %>
				

</table>
</div>
</div>