<div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-1 col-md-offset-6 col-sm-2 col-sm-offset-6 col-xs-2 col-xs-offset-3">
  
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        
        <th>Main category</th>
        <th>Sub category</th>
        <th>Edit</th>
        
      </tr>
    </thead>
    <tbody>
      <% @subcategory.each do |s| %>
      <tr>

        <td><%= s.category.maincategory.main_category %></td>
        <td><%= s.subcategory %></td>
        <td><%= link_to("",{:action => 'edit',:id => s.id},:class=>'fa fa-edit fa-2x')%></td></td>
        
        
      </tr>
      <% end %>
       <%= paginate @subcategory %>
  <%= page_entries_info @subcategory %>
    </tbody>
  </table>
</div>
</div>