
        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><%= link_to("Home",:controller=>"public",:action=>"view")%>
                        </li>
                        <%if @sc%>
                        <li><%= @sc.category.maincategory.main_category%></li>
                        <%else%>
                        <li></li>
                        <%end%>
                    </ul>
                </div>
                       <div class="col-xs-12">
                           <h3 style="cursor:pointer;margin-left:20px;position:relative;z-index:100;" data-toggle="collapse" data-target="#demo"><i class="fa fa-bars" aria-hidden="true"></i> Categories</h3>
                       </div>    

                       <style type="text/css">
                           
                           
                       </style>
                <div class="col-md-3 collapse" id="demo" class="">
                    <!-- *** MENUS AND FILTERS ***invisible
 _________________________________________________________ -->
                    <%= render partial: "shared/sidecategories" %>
                   

                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Brands <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
                        </div>

                        <div class="panel-body">

                            <form>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">Armani (10)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">Versace (12)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">Carlo Bruni (15)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">Jack Honey (14)
                                        </label>
                                    </div>
                                </div>

                                <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>

                            </form>

                        </div>
                    </div>

                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Colours <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
                        </div>

                        <div class="panel-body">

                            <form>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> <span class="colour white"></span> White (14)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> <span class="colour blue"></span> Blue (10)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> <span class="colour green"></span> Green (20)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> <span class="colour yellow"></span> Yellow (13)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> <span class="colour red"></span> Red (10)
                                        </label>
                                    </div>
                                </div>

                                <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>

                            </form>

                        </div>
                    </div>

                    <!-- *** MENUS AND FILTERS END *** -->

                    <div class="banner">    
                        <%= image_tag("banner.jpg",:class=>"img-responsive") %>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="box">
                        <%if @sc%>
                        <h1><%= @sc.category.maincategory.main_category%></h1>
                        <%else%>
                       <h1>No Products</h1>
                        <%end%>
                        <p>MaOrder Products-></p>
                    </div>

                    <div class="box info-bar">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 products-showing">
                               <strong><%= paginate @products %></strong> products
                            </div>

                            <div class="col-sm-12 col-md-8  products-number-sort">
                                <div class="row">
                                    
                                        <div class="col-md-6 col-sm-6">
                                            <div class="products-number">
                                                <a class="btn btn-default btn-sm">
                                                    <%= page_entries_info @products %>   
                                                </a> 
                                            </div>
                                        </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row products">
                    <%if @products.size > 0%>
                        <% @products.each do |product| %>
                        <div class="col-md-4 col-sm-6">
                            <div class="product">
                                <div class="flip-container col-lg-12">
                                    <div class="flipper">
                                        <div class="front">
                                            <%if product.photo.size > 0 %>
                                                <%  product.photo.each do |f| %>
                                                    <%= link_to(image_tag("/uploads/"+ f.photo1,:width=>'100%',:height=>'265px'),{:action=>'info',:id=>product.id}) %> 
                                                <%end%>
                                            <%else%>
                                            <%= link_to(image_tag("image_soon.gif",:width=>'95%',:height=>'265px'),{:action=>'info',:id=>product.id}) %>
                                            <%end%>
                                    
                                        </div>
                                        <div class="back">
                                            <%if product.photo.size > 0 %>
                                                <%  product.photo.each do |f| %>
                                                    <%= link_to(image_tag("/uploads/"+ f.photo2,:width=>'100%',:height=>'265px'),{:action=>'info',:id=>product.id}) %> 
                                                <%end%>
                                            <%else%>
                                            <%= link_to(image_tag("image_soon.gif",:width=>'95%',:height=>'265px'),{:action=>'info',:id=>product.id}) %>
                                            <%end%>   
                                        </div>
                                    </div>
                                   
                                </div>
                                <a class="invisible">
                                     <%= image_tag("image_soon.gif",:class=>"img-responsive") %>
                                </a>
                                <div class="text">
                                    <h3><a ><%= link_to(product.product_name,:action=>'info',:id=>product.id) %></a></h3>
                                    <p class="price"><%= product.price %></p>
                                    <p class="buttons">
                                    <a >
                                       <%= link_to('View Detail',{:action=>'info',:id=>product.id},:class =>"btn btn-default") %></a>
                                        
                                    </p>

                                </div>
                                <!-- /.text -->

                                <div class="ribbon gift">
                                    <div class="theribbon">MaOrder <%= product.product_code %></div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->

                            </div>
                            <!-- /.product -->
                        </div>
                        <%end%>
                        <%end%>
                        <!-- /.col-md-4 -->
                    </div>
                    <!-- /.products -->

                </div>
                <!-- /.col-md-9 -->
            </div>
            <!-- /.container -->
        </div>