<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Maorder e-commerce template">
    <meta name="author" content="Maorder | maorder.com">
    <meta name="keywords" content="">

    <title>
        MaOrder
    </title>

    <meta name="keywords" content="">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <%= javascript_include_tag 'jquery','respond.min'%>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag 'bootstrap.min','animate.min','owl.carousel','owl.theme','style','custom', media: 'all' ,"data_turbo_links" => true%>
    <!-- them   e stylesheet -->
    
    <!-- your stylesheet with modifications -->
    <%= javascript_include_tag 'jquery-1.11.0.min','bootstrap.min','jquery.cookie','waypoints.min','modernizr','bootstrap-hover-dropdown' ,'owl.carousel.min','front','custom',"data_turbo_links" => true%>
</head>
<script>

    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1759792904270188', // App ID
            status     : true, // check login status
            cookie     : true // enable cookies to allow the server to access the session
        });

        $('#sign_in').click(function(e) {
            e.preventDefault();
            return FB.login(function(response) {
                if (response.authResponse) {
                    return window.location = '/auth/facebook/callback';
                }
            }, {scope: 'email,user_likes'});
        });

        return $('#sign_out').click(function(e) {
            FB.getLoginStatus(function(response) {
                if (response.authResponse) {
                    return FB.logout();
                }
            });
            return true;
        });
    };

   
     </script>

<body>


    <!-- *** TOPBAR ***
 _________________________________________________________ -->
    <div id="top">
        <div class="container">
            
            <div class="col-md-6 pull-right" data-animate="fadeInDown">
            <% if session[:email]  %>
            <ul class="menu">
            
            <li>Welcome&nbsp;<%=session[:email].split("@").first%></li>
            
            <li>
                <% if session[:omniauth] %>
                <%=link_to("Signout",:controller=>"sessions",:action=>"destroy")%>
                
                <%else%>
                <%=link_to("logout",:controller=>"login",:action=>"logout")%>
                <%end%>
            </li>
            </ul> 
            <%else%>
            <ul class="menu">
                    <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                    </li>
                    <li><%= link_to("Register",:controller=>"public",:action=>"register")%></a>
                    </li>
                    <li><%= link_to("Contact",:controller=>"public",:action=>"contact")%>
                    </li>
                    
                </ul>
            <%end%>
            </div>
        </div>
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog modal-sm">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="Login">Customer login</h4>
                    </div>
                    <div class="modal-body">
                    <%= form_for :user,  :url=>{:controller=>'login',:action=>'authenticate'} do |f| %>
                        
                            <div class="form-group">
                                <!-- <input type="text" class="form-control" id="email-modal" placeholder="email">
                                 -->
                              <%= f.email_field("email",:placeholder=>"Enter Email",:class=>"form-control",:id=>"email-modal") %>
                            </div>
                            <div class="form-group">
                                <!-- <input type="password" class="form-control" id="password-modal" placeholder="password"> -->
                              <%= f.password_field("password",:placeholder=>"Enter Password",:class=>"form-control",:id=>"password-modal") %>

                            </div>

                            <p class="text-center">
                                <button class="btn btn-primary" ><i class="fa fa-sign-in"></i> Log in</button>
                            </p>

                        <%end%>
                        <p class="text-center text-muted" style="display:none" id="user_validations"></p>
                        <p class="text-center text-muted">
                            
                            <li style="list-style-type:none;text-decoration:none;" ><%= link_to "/auth/facebook" do %><%= image_tag('facebook.png', width: '20', height: '20')%> Login With Facebook<%end%></li>
                            <li style="list-style-type:none;text-decoration:none;"> &nbsp;<i class="fa fa-sign-out " aria-hidden="true"></i><%= link_to("SignUp with us",:controller=>"public",:action=>"register")%>
                            </li>
                             <li style="list-style-type:none;text-decoration:none;"> &nbsp;<i class="fa fa-sign-out " aria-hidden="true"></i><%= link_to("Forgot Password",:controller=>"forgotpassword",:action=>"sendEmail")%>
                            </li>
                        </p>
                        <p class="text-center text-muted"><strong><%= link_to("Register",:controller=>"public",:action=>"register")%></strong>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- *** TOP BAR END *** -->

    <!-- *** NAVBAR ***
 _________________________________________________________ -->

    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="col-xs-12" style="padding:1;">
            <div class="navbar-header">

                <a class="navbar-brand home sm-logo" data-animate-hover="bounce">
                    
                     <%= image_tag("logo.png",:class => 'img-responsive hidden-xs') %>
                     <%= image_tag("logo-small.png",:class => 'visible-xs',:width=>"80%")%>
                    <span class="sr-only">Maorder - go to homepage</span>

                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                    
                    <p  class="btn btn-default navbar-toggle pull-right">
                        <%= link_to("",{:controller=>'public',:action=>'cartview'},:class=>'fa fa-shopping-cart') %>
                    <span class="hidden-sm"><%= session[:cart_size] ? session[:cart_size].to_s : "0" %> </span>
                    </p>

                    <p  class="btn btn-default navbar-toggle acnt hidden-sm">
                    <% if session[:email] %>
                        <% if session[:omniauth] %>
                            <%=link_to("Signout",:controller=>"sessions",:action=>"destroy")%>
                            <%else%>
                            <%=link_to("logout",:controller=>"login",:action=>"logout")%>
                            <%end%>
                    <%else%>
                    <%= link_to(" ",{:controller=>"public",:action=>"register"},:class=>"fa fa-sign-in")%>
                    <%end%>
                    </p>
                    <p  class="btn btn-default navbar-toggle acnt hidden-sm">
                        <% if session[:email]  %>
                        <%= link_to(" ",{:controller=>"public",:action=>"wishlist"},:class=>"fa fa-heart")%>
                        <%else%>
                        <%= link_to(" ",{:controller=>"public",:action=>"register"},:class=>"fa fa-heart")%>
                        <%end%>
                    </p>
                </div>

            </div>
 
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-left">
                    <li class=""><%= link_to("HOME",:controller=>"public",:action=>"view")%>
                    </li>
                    <% @maincategory.each do |maincategory| %>
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200"><%= maincategory.main_category %> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                    <% if maincategory.category %>
                                        <% @cat1 = Category.where("maincategory_id = #{maincategory.id} and is_active = '1'")%>
                                        <% @cat1.each do |cat| %>
                                        <div class="col-sm-3">
                                            <h5><%= cat.category %></h5>
                                            <% if cat.subcategory %>
                                            <% @sub1 = Subcategory.where("category_id = #{cat.id} and is_active = '1'")%>
                                            <% @sub1.each do |sub| %>
                                            <ul>
                                                <li><%= link_to(sub.subcategory,{:controller=>'public',:action=>'searchProducts',:id=>sub.id}) %></a>
                                                </li>
                                            </ul>
                                            <%end%>
                                            <%end%>
                                        </div>
                                        <%end%>
                                        <%end%>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                    <%end%>
                   

                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">User <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                       
                                        <div class="col-sm-3">
                                            <h5>User</h5>
                                            <ul>
                                                <% if session[:email]  %>
                                                <li>
                                                <% if session[:omniauth] %>
                                                <%=link_to("Signout",:controller=>"sessions",:action=>"destroy")%>
                                                <%else%>
                                                <%=link_to("logout",:controller=>"login",:action=>"logout")%>
                                                <%end%>
                                                </li>
                                                <%else%><li>
                                                <%=link_to("Register / login",:controller=>"public",:action=>"register")%>
                                                </li>
                                                <%end%>
                                                <% if session[:email] %>
                                                    <li><%=link_to("Orders History",:controller=>"public",:action=>"myorder")%>
                                                    </li>
                                                    <li><%=link_to("wishlist",:controller=>"public",:action=>"wishlist")%>
                                                    </li>
                                                    <li>
                                                    <%=link_to("Customer account / change password",:controller=>"public",:action=>"account")%>
                                                    </li>
                                                
                                                <%end%>
                                                
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Order process</h5>
                                            <ul>
                                                <li><%=link_to("Shopping Cart",:controller=>"public",:action=>"cartview")%>
                                                </li>
                                                                                               
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Pages </h5>
                                            <ul>
                                                <%=link_to("Home",:controller=>"public",:action=>"view")%>
                                                <li>
                                                </li>
                                                <%=link_to("About Us",:controller=>"public",:action=>"about")%>
                                                <li>
                                                </li>
                                             
                                                <li><%=link_to("Contact",:controller=>"public",:action=>"contact")%>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                              
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->

            <div class="navbar-buttons">

                <div class="navbar-collapse collapse right" id="basket-overview">
                   

                    <%= link_to '<i class="fa fa-shopping-cart"></i>'.html_safe, {:controller=>'public',:action=>'cartview'},:class=>"btn btn-primary navbar-btn" %>
                   <span class="hidden-sm"><%= session[:cart_size] ? session[:cart_size].to_s + "items in cart " : "Empty Cart" %> </span>
                </div>

                <!--/.nav-collapse -->

                <div class="navbar-collapse collapse right" id="search-not-mobile">
                    <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                </div>

            </div>

            <div class="collapse clearfix" id="search">
                 <%= form_for :search ,:url=>{:action=>'searchProducts'} do |f|%>
                    <div class="input-group col-xs-12 col-sm-5 pull-right">
                    <%= f.text_field("name",:placeholder=>'Search by Product....',:required=>true,:class=>'search form-control')%>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </span>
                    </div>
                <% end %>

            </div>
            <!--/.nav-collapse -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->

     <%= yield%>
        <!-- *** FOOTER ***
 _________________________________________________________ -->
        <div id="footer" data-animate="fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h4>Pages</h4>

                        <ul>
                                 <li> <%=link_to("About us",:controller=>"public",:action=>"about")%>
                            
                            </li>
                            
                            </li>
                            <li><%= link_to("Contact Us",:controller=>"public",:action=>"contact")%>                            </li>
                        </ul>

                        <hr>

                        <h4>User section</h4>

                        <ul>
                            <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                            </li>
                            <li><%= link_to("Register",:controller=>"public",:action=>"register")%>
                            </li>
                        </ul>

                        <hr class="hidden-md hidden-lg hidden-sm">

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">

                        <h4>Top categories</h4>

                        <h5>Men</h5>

                        <ul>
                            <li><a href="#">T-shirts</a>
                            </li>
                            <li><a href="#">Shirts</a>
                            </li>
                            <li><a href="#">Accessories</a>
                            </li>
                        </ul>

                        <h5>Ladies</h5>
                        <ul>
                            <li><a href="#">T-shirts</a>
                            </li>
                            <li><a href="#">Skirts</a>
                            </li>
                            <li><a href="#">Pants</a>
                            </li>
                            <li><a href="#">Accessories</a>
                            </li>
                        </ul>

                        <hr class="hidden-md hidden-lg">

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">

                        <h4>Where to find us</h4>

                        <p><strong>Obaju Ltd.</strong>
                            <br>13/25 New Avenue
                            <br>New Heaven
                            <br>45Y 73J
                            <br>England
                            <br>
                            <strong>Great Britain</strong>
                        </p>

                        <%= link_to("Contact Us",:controller=>"public",:action=>"contact")%>

                        <hr class="hidden-md hidden-lg">

                    </div>
                    <!-- /.col-md-3 -->



                    <div class="col-md-3 col-sm-6">

                        <h4>Get the news</h4>

                        <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                        <form>
                            <div class="input-group">

                                <input type="text" class="form-control">

                                <span class="input-group-btn">

                                  <button class="btn btn-default" type="button">Subscribe!</button>

                              </span>

                            </div>
                            <!-- /input-group -->
                        </form>

                        <hr>
 <h4>Stay in touch</h4>

                        <p class="social">
                            <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                        </p>

                    </div>
                    <!-- /.col-md-3 -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#footer -->

        <!-- *** FOOTER END *** -->




        <!-- *** COPYRIGHT ***
 _________________________________________________________ -->
        <div id="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p class="pull-left">© 2016 nugeninfo.com.</p>

                </div>
                <div class="col-md-6">
              
                    </p>
                </div>
            </div>
        </div>
        <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->


    

    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    


</body>

</html>